:root {
  --c-black: #1f1f1f;

  --c-gray: #919191;
  --c-gray-light: #b0b0b0;
  --c-gray-dark: #5c5c5c;

  --c-divider: #e5e5e5;

  --font-family-base: "Open Sans", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-primary: "Raleway", "Open Sans", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";

  --shadow-depth-3: 0 6px 24px rgba(0, 0, 0, .12), 0 2px 6px rgba(0, 0, 0, .08);
}
